/* Base
***************************/
html {
	box-sizing: border-box;
	height: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
    background: #fff;
    padding: 50px;
    width: 1340px;
}
body, h1, h4, .h4 {
	font-family: 'Droid Serif', serif;
	line-height: 160%;
}

/* Typo
***************************/

/* Links */
a {
	color: #1C4F8B;
	position: relative;
}
a:active {
	bottom: -1px;
}

/* Headings */
h2, h3, .h3, h5, a.button, a#dropbox {
	font-family: 'Droid Sans', sans-serif;
}
h1 {
	font-size: 40px;
}
section h2 {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	margin: 50px 0 20px 0;
}
section h2:after {
	content: '';
	display: block;
	width: 40px;
	height: 5px;
	background: #2B2A30;
	margin-top: 10px;
}
h3, .h3 {
    font-size: 12px;
    color: #666;
    text-transform: uppercase;
    margin-bottom: 0;
}
h4, .h4 {
    font-size: 20px;
	font-weight: 700;
    color: #191919;
    margin-bottom: 0;
}

/* Utility */
.scrollto {
    margin-top: 50px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.skills ul {
	margin-bottom: 0;
}
.skills li p,
ul li.last {
	margin-bottom: 0;
}
.overflow {
	overflow: hidden;
}
.inline-block {
	display: inline;
}

/* Lightbox */
.lightbox {
	display: none;
}
.featherlight-content {
    max-width: 600px;
    border-radius: 2px;
}
h4.h3 {
	font-size: 14px;
	font-weight: normal;
}
.featherlight .featherlight-close-icon {
    top: 20px;
    right: 20px;
}

/* Media object */
.media {
  display: flex;
  align-items: flex-start;
}
.media-figure {
  margin-right: 1em;
}
.media-body {
  flex: 1;
}

/* Lists */
.strip {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}
.check {
	li {
		padding-left: 20px;
		background: url(../images/check.png) no-repeat 0 7px;
	}
}

/* Buttons */
a#dropbox,
.button {
	background: #F2F2F2;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	text-decoration: none;
	color: #222;
	padding: 8px 10px;
	border: 0;
	height: auto;
	box-shadow: 0 0 transparent;
	line-height: 1;
	border-radius: 2px;
	display: inline-block;
}
button.button {
	background: #eee;
	color: #555;
}
.actions .button svg {
	margin-right: 5px;
	position: relative;
	bottom: -1px;
	display: inline-block;
}
a#dropbox,
a#dropbox:hover {
	background-image: url(../images/dropbox.png);
	background-repeat: no-repeat;
	background-position: 8px 50%;
	padding-left: 25px;
	height: 13px;
	position: relative;
	top: 0px;
	line-height: 15px !important;
}
a#dropbox:hover {
	background-image: url(../images/dropbox-white.png);
	background-color: #555;
	color: #fff;
}
.actions .button:hover path {
	fill: #fff;
}
a#dropbox span {
	display: none;
}
.button:hover {
	background: #555;
	color: #fff;
}
a#dropbox:active,
.button:active,
.actions a:active,
.actions button:active {
	background: #444;
	outline: none;
}

/* On-page nav */
.overflow a {
    text-decoration: none;
    color: #555;
    font-size: 12px;
    background: #eee;
    padding: 5px 7px;
    border-radius: 2px;
    font-family: 'Droid Sans-serif', sans-serif;
}
.overflow a:hover {
    background: #ddd;
}

/* Header
***************************/
.top {
	text-align: center;
	padding: 40px 0 80px;
	margin: 0 30px;
	h1 a {
		color: #222;
		text-decoration: none;
	}
	.qi {
	    display: block;
	    margin: 0 auto 20px;
	}
	h2.h3 {
		margin-top: 1px;
		font-weight: 400;
		font-family: DroidSerif;
		text-transform: none;
		font-size: 16px;
		color: #171B1E;
	}
	em {
	    text-transform: uppercase;
		font-family: 'Droid Sans', sans-serif;
		font-size: 12px;
		color: #808080;
		strong {
		    background: transparent url(underline.jpg) no-repeat bottom;
		    padding-bottom: 2px;
		}
	}
	img {
		margin-top: 40px;
	}
	.actions {
	    margin: 15px 0 30px;
		h2 {
			font-weight: 700;
			margin: 40px 0 15px;
		}
	}
	a.button:nth-of-type(even) {
	    margin: 0 15px;
	}
	form {
		margin-left: 15px;
	}
}
	/* Nav
	***************************/
	nav.mobile {
		display: none;
	}
	nav {
	    background: #f7f7f7;
	    margin-bottom: 20px;
	    overflow: hidden;
	    padding: 0 0 20px;
		border-radius: 2px;
		li {
		    width: 50%;
		    float: left;
		    text-align: left;
		    padding: 10px 0;
			text-indent: 30px;
			line-height: 1;
		}
		a {
		    font-family: 'Droid Sans', sans-serif;
		    text-transform: uppercase;
		    text-decoration: none;
		    color: #222;
		    font-size: 12px;
		    font-weight: 700;
		}
		a:hover {
		    color: #888;
		    border-bottom: 2px solid #ddd;
		}
	}

/* Section
***************************/
article .in {
	background: #fafafa url(../images/border.jpg) repeat-x top;
	overflow: hidden;
	padding: 0 40px;
	h2:first-of-type {
	    margin-top: 0;
	}
}
.content, .meta {
	width: 45%;
	float: left;
}
.meta {
	margin-left: 5%;
	width: 50%;
}

/* Experience
***************************/
.p-date {
	font-size: 12px;
	color: #999;
	margin: 5px 0 19px;
}
.accordion-toggle,
.p-education {
	h3.h4 {
		text-transform: none;
	}
	h4 {
		margin-top: 5px;
	}
}

/* Projects */
.projects {
    background: rgba(183, 183, 183, 0.1);
    padding: 30px;
    border-radius: 2px;
	margin: 25px 0 30px;
	h5 {
	    font-size: 14px;
	    color: #404040;
	    text-transform: uppercase;
		margin-bottom: 15px;
	}
	h6 {
	    font-size: 16px;
	    margin: 0 0 0;
	}
	p {
		margin: 0;
	}
	p:first-of-type {
		font-size: 14px;
		line-height: 150%;
		margin: 5px 0;
	}
	p:last-of-type {
		margin-bottom: 25px;
	}
	.media:last-of-type p:last-of-type {
		margin-bottom: 0;
	}
	a {
	    font-size: 13px;
	}
}
button.show-more {
    margin-bottom: 25px;
}
button.show-more:focus {
    outline: 0;
}
.tools li,
.up-icon {
	background: transparent url(up.png) no-repeat;
}
.down-icon {
	background: transparent url(down.png) no-repeat;
}

/* Accordion */
.accordion {
    margin-top: 10px;
}
.accordion-toggle {
	cursor: pointer;
	margin: 0;
}
.accordion-toggle:hover {
    background: #f8f8f8;
}
.accordion-content {
	display: none;
}
.accordion-content p:first-of-type {
    margin-top: 5px;
}
.accordion-content.default {
	display: block;
}
div.accordion-toggle:before {
    content: '';
    display: block;
    height: 0;
    border-bottom: 1px dashed #ddd;
    margin: 0 0 20px 0;
}
.accordion .media-figure,
.projects .media-figure {
    display: inline-block;
    width: 17px;
    height: 7px;
    position: relative;
    top: 7px;
    margin: 0;
}
.projects .media-figure {
	width: 22px;
    height: 17px;
    top: 6px;
}
.projects .media .mws {
	background: transparent url(mws.png) no-repeat;
}
.projects .media .tbr {
	background: transparent url(tbr.png) no-repeat;
}
.projects .media .hwr {
	background: transparent url(hwr.png) no-repeat;
}

/* Skills
***************************/
.skills {
	li {
	    background-position-y: 7px;
	}
}

/* Tools
***************************/
.tools {
	overflow: hidden;
	li {
		width: 25%;
		float: left;
		margin-bottom: 5px;
		padding-left: 15px;
		background-position: 0 8px;
		p {
		    margin: 0 0 15px;
		}
	}
}

/* References
***************************/
.references {
	p {
		margin-top: 0;
	}
	.h4 {
		text-transform: none;
		font-size: 18px;
	}
	h5 {
		font-weight: normal;
	}
	.media {
		margin-bottom: 20px;
	}
	img.media-figure {
	    background: #fff;
	    padding: 3px;
	    border-radius: 50%;
	    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	}
}

/* Connect
***************************/
.connect {
	li {
		margin-bottom: 7px;
	}
	svg {
		margin-right: 10px;
	}
	.location svg,
	.mobile svg {
	    margin-left: 3px;
	}
}

/* Media queries
***************************/

/* Mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        padding: 0;
		margin: 0;
    }
	.top {
		padding-bottom: 20px;
		h2.h3 {
	        font-size: 14px;
			margin-bottom: 0;
	    }
		h1 a {
			font-size: 80%;
		}
	}
	.meta {
		margin: 0;
	}
	.photo {
		max-width: 100%;
		height: auto;
	}
	.actions {
		h2 {
			margin-bottom: 0;
		}
		a:first-of-type {
	        display: none;
	    }
		a:last-of-type {
	        margin-top: 15px;
	    }
    }
	.print {
		display: none;
	}
    #dropbox {
        margin-left: 0;
    } /* todo: remove id */
    section {
        padding-top: 0;
    }
    .scrollto {
        margin-top: 0;
    }
	.projects {
		display: none;
	}
	.tools li {
        width: 50%;
    }
    .references h4 {
        font-weight: normal;
        font-size: 12px;
    }
}

/* Tablet */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.scrollto {
		margin-top: 0;
	}
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Desktop */
@media (min-width: 960px){
	body {
	    margin: 0 auto;
	}
	h2.h3 {
		font-size: 16px;
	}
	nav {
	    padding-bottom: 0;
		li {
		    display: inline;
		    width: auto;
		    float: none;
		    margin: 0 20px
		}
		li:after {
		    content: '/';
		    position: relative;
		    right: -15px;
		    font-size: 10px;
		    color: #999;
		}
		li:last-of-type:after {
		    display: none;
		}
	}
	button.show-more {
		display: none;
	}
	.skills {
		ul {
			overflow: hidden;
		}
		li {
			width: 48%;
			float: left;
			margin-bottom: 30px;
			a {
				text-decoration: none;
				color: #444;
				font-weight: 700;
			}
		}
		li:nth-of-type(even) {
			float: right;
		}
		div.accordion-content {
			display: block;
			margin-top: 12px;
		}
	}
	.references {
		overflow: hidden;
		div {
			width: 50%;
			float: left;
		}
		h4.h3 {
    		font-size: 11px;
			font-weight: normal;
		}
	}
	.right a {
		display: none;
	}
	.scrollto {
		margin-top: 0;
	}

}
/* Desktop */
@media (max-width: 1140px) {
    .skills li {
        width: 100%;
    }
}
@media (max-width: 1090px) {
    .content,
	.meta {
        width: 100%;
        float: none;
        margin: 0;
    }
}
@media (max-width: 1290px){
	html {
		padding: 0;
	}
	body {
		width: 100%;
		margin: 0;
	}

}